---
layout: base.njk
title: Contact Us
---

<div class="row g-5">
    <div class="col-md-5 text-center text-md-start">
        <h3 class="mb-3">Address</h3>
        <address class="text-muted">
            <strong>Professor Abu T. Khan</strong><br>
            Department of Chemistry<br>
            Indian Institute of Technology Guwahati<br>
            Guwahati - 781 039<br>
            Assam, India
        </address>

        <h3 class="mt-4 mb-3">Contact Information</h3>
        <address class="text-muted">
            <strong>Tel:</strong> +91-361-2582305<br>
            <strong>Fax:</strong> +91-361-2582349 / 2690762<br>
            <strong>Email:</strong> <a href="mailto:atk@iitg.ac.in">atk@iitg.ac.in</a>
        </address>
    </div>

    <div class="col-md-7">
        <div class="map-embed shadow-sm">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.334401964302!2d91.68961267512474!3d26.185798077087842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5ac3476b357d%3A0x53ad8343166cac54!2sDepartment%20Of%20Chemistry%2C%20IIT%20Guwahati!5e0!3m2!1sen!2sin!4v1753150821474!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
